<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-script-type" content="text/javascript">
    <title>MASK SEARCH</title>
    <script src="https://kit.fontawesome.com/9c31995c7b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="../js/index.js"></script>
</head>
<body>
    <div class="container">
        <img src="../image/MASK SEARCH-logo.png" alt="logo" class="logo">
        <div class="searchBar">
            <input type="text" class="searchBar-address" placeholder="목적지를 검색하세요">
            <a href="./about"><i class="fas fa-search searchBar-search"></i></a>
            <a id="find-gps" onclick="getLocation()" href="#"><i class="fas fa-map-marker-alt searchBar-gps"></i></a>
        </div>
        <button class="button">구매가능 확인</button>
    </div>

</body>
</html>
