<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/9c31995c7b.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR:400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/find.css">
    <title>Document</title>
</head>
<body>
    <nav class="nav">
        <div class="nav-bar">
            <a href="../index.html"><i class="fas fa-arrow-left back"></i></a>
        </div>
    </nav>

    <div class="content">
        <div class="searchBar">
            <input type="text" class="searchBar-address" placeholder="목적지를 검색하세요">
            <i class="fas fa-search searchBar-search"></i>
            <i class="fas fa-map-marker-alt searchBar-gps"></i>
        </div>
        <div class="map">

        </div>
    </div>
    

</body>
</html>